 {% extends 'base.html' %}

{% block title %}
    <title>Archive</title>
{% endblock %}

 {% block content %}

     <section id="index">
        <div class="container">
            {% for article in article_list %}
                <article class="card my-4">
                    <div class="container px-4 px-lg-5 pb-4">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <h2 class="section-heading">{{article.title}}</h2>
                            <div class="d-flex mb-4">
                                <small>Posted <span class="bold">{{article.create_date}}</span></small>
                                <small class="mx-2">by <span class="bold author">{{article.author}}</span></small>
                            </div>
                            <div class="img_container mb-4">
                                <img src="{{article.cover.url}}" alt="">
                            </div>
                            <p>{{article.content|truncatechars:500}}</p>
                            <a href="{% url 'article_single' article.id %}">Read</a>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>

{% endblock %}