{% extends 'base.html' %}

{% block title %}
    <title>Article</title>
{% endblock %}


{% block content %}

    <section id="index">
        <div class="container">
            <article class="card my-4">
                <div class="container px-4 px-lg-5 pb-4">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <h2 class="section-heading">{{article.title}}</h2>
                        <div class="d-flex mb-4">
                            <small>Posted <span class="bold">{{article.create_date}}</span></small>
                            <small class="mx-2">by <span class="bold author">{{author}}</span></small>
                        </div>
                        <div class="img_container mb-4">
                            <img src="{{article.cover.url}}" alt="">
                        </div>
                        <p>{{article.content}}</p>

                        <div class="comments">
                            <h4>Comments</h4>
                            {% if not comments %}
                            <p class="error_comment">There are no comments for the moments, write yours !</p>
                            {% endif %}
                            {% for comment in comments %}
                            <div class="comment">
                                <h6 class="mt-4">{{comment.title}}</h6>
                                <p>{{comment.content}}</p>
                                <p class="comment_author mt-2">Posted <span>{{comment.create_date}}</span>, By <span>{{comment.author}}</span></p>
                            </div>
                            {% endfor %}
                        </div>


                        {% if user.is_authenticated %}
                             <div class="write_comment mt-4">
                                <h4>Write comments</h4>
                                 <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                     <div class="form-floating">
                                        <input class="form-control" id="title" type="text" name="title" placeholder="Choose a title..." data-sb-validations="required" />
                                        <label for="title">Title</label>
                                    </div>
                                    <div class="form-floating">
                                        <textarea class="form-control" id="content" name="content" placeholder="Your comment..." style="height: 12rem" data-sb-validations="required"></textarea>
                                        <label for="content">Message</label>
                                    </div>
                                    <br/>
                                    <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                                </form>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock %}