 {% extends 'base.html' %}

{% block title %}
    <title>New article</title>
{% endblock %}

 {% block content %}

    <section id="article_create" class="my-4">
        <div class="container">
            <div class="write_comment mt-4">
                <h3 class="mb-2">Write an article</h3>
                 <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                     <div class="form-floating">
                        <input class="form-control" id="title" type="text" name="title" placeholder="Choose a title..." data-sb-validations="required" />
                        <label for="title">Title</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" id="content" name="content" placeholder="Your comment..." style="height: 12rem" data-sb-validations="required"></textarea>
                        <label for="content">Content</label>
                    </div>
                     <div class="form-floating">
                        <input type="file" class="form-control" id="cover" name="cover" placeholder="Pick a cover..." data-sb-validations="required">
                        <label for="cover">Cover</label>
                    </div>
                    <br/>
                    <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

 {% endblock %}