{% extends 'base.html' %}

{% block title %}
    <title>PythonBlog | Profile</title>
{% endblock %}


{% block content %}

    <section id="profile">
        <div class="container">
            <h2>Profile</h2>
            <div class="row">
                <div class="col-12">
                    <p>Username: <b>{{user.get_username}}</b></p>
                </div>
                <div class="col-12">
                    <h2 class="mt-4">My articles</h2>
                    {% for article in article %}
                    <article>
                        <h2 class="section-heading">{{article.title}}</h2>
                        <div class="d-flex mb-4">
                            <small>Posted <span class="bold">{{article.create_date}}</span></small>
                            <small class="mx-2">by <span class="bold author">{{article.author}}</span></small>
                        </div>
                        <div class="img_container mb-4">
                            <img src="{{article.cover.url}}" alt="">
                        </div>
                        <p>{{article.content|truncatechars:500}}</p>
                        <a href="{% url 'article_single' article.id %}">Read</a>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}