 {% extends 'base.html' %}

{% block title %}
    <title>Register</title>
{% endblock %}

 {% block content %}

     <section id="article_create" class="my-4">
        <div class="container">
            <div class="write_comment mt-4">
                <h3 class="mb-2">Register</h3>
                 <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-floating">
                        <input class="form-control" id="username" type="text" name="username" placeholder="Pick a username..." data-sb-validations="required" />
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="email" type="email" name="email" placeholder="Your email..." data-sb-validations="required" />
                        <label for="username">Email</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="password" id="password1" name="password1" placeholder="Your password..." data-sb-validations="required">
                        <label for="password1">password</label>
                    </div>
                      <div class="form-floating">
                        <input class="form-control" type="password" id="password2" name="password2" placeholder="Your password..." data-sb-validations="required">
                        <label for="password2">password confirmation</label>
                    </div>
                    <br/>
                    <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                </form>
            </div>
            <p>Already register, click <a href="{% url 'login' %}">Here</a></p>
        </div>
    </section>

 {% endblock %}