 {% extends 'base.html' %}

{% block title %}
    <title>Register</title>
{% endblock %}

 {% block content %}

     <section id="article_create" class="my-4">
        <div class="container">
            <div class="write_comment mt-4">
                <h3 class="mb-2">Login</h3>
                 <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                     <div class="form-floating">
                        <input class="form-control" id="username" type="text" name="username" placeholder="Choose a title..." data-sb-validations="required" />
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="password" type="password" name="password" placeholder="Your password..." data-sb-validations="required">
                        <label for="password">password</label>
                    </div>
                    <br/>
                    <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                </form>
            </div>
            <p>Not register ? click <a href="{% url 'register' %}">Here</a></p>
        </div>
    </section>

 {% endblock %}