.colorBlue{
    color: #4B8BBE;
}
a:hover{
    color: #4B8BBE!important;
}

h2{
    color: #6c757d!important;
}
.comment h6{
    padding-left: 15px;
}
.comment p{
    margin: 0;
    padding-left: 45px;
}
.error_comment{
    padding-left: 15px;
}
.bold{
    font-weight: 700;
}

.author{
    text-transform: capitalize;
}

.comment_author{
    padding-right: 20px;
    font-size: 15px;
    text-align: right;
}
.comment_author span{
    font-weight: bold;
}

.img_container{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.img_container img{
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 640px){
    .img_container{
        height: 200px;
    }
}